{% load static %}

    {% comment %} Css Files {% endcomment %}
    <link rel="stylesheet" href=" {% static 'css/tabler.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-flags.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-payments.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-vendors.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/demo.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/ontop.css' %} ">

    {% comment %} Custom script files {% endcomment %}
    <script src=" {% static 'js/demo-theme.min.js' %} "></script>
    <link href='https://fonts.googleapis.com/css?family=Figtree' rel='stylesheet'>
    
    {% comment %} Toaster Dependencies 
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    {% endcomment %}

    {% comment %} Active Fonts for Login {% endcomment %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">