{% load static %}

    <!-- CSS files -->
    <link rel="stylesheet" href=" {% static 'css/tabler.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-flags.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-payments.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-vendors.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/demo.min.css' %} ">

    <!-- JS files -->
    <script src=" {% static 'js/demo-theme.min.js' %} "></script>
    <link href='https://fonts.googleapis.com/css?family=Figtree' rel='stylesheet'>