{% load static %}

    {% comment %} Css Files {% endcomment %}
    <link rel="stylesheet" href=" {% static 'css/tabler.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-flags.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-payments.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/tabler-vendors.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/demo.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/ontop.css' %} ">

    {% comment %} Custom script files {% endcomment %}
    <script src=" {% static 'js/demo-theme.min.js' %} "></script>
    <link href='https://fonts.googleapis.com/css?family=Figtree' rel='stylesheet'>
    
    {% comment %} Toaster Dependencies 
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    {% endcomment %}


    <script src=" {% static 'libs/jquery/jquery-3.7.1.min.js' %} "></script>