{% load static %}

    <header class="navbar navbar-expand-md d-print-none" style="min-height: 4.5rem !important;" >
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href=".">
                    <img src=" {% static 'img/pupqcfaculty.png' %} " class="navbar-brand-image" style="height: 3rem !important;">
                </a>FARMS
            </h1>
            <div class="navbar-nav flex-row order-md-last">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                        <span class="avatar " style="color: #800000 !important;">DM</span>
                    <div class="d-none d-xl-block ps-2">
                        <div class="dropdown-toggle" style="">Administrator</div>
                    </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="{% url 'accounts:profile' %}" class="dropdown-item" id="active-users-profile">Profile</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    <a href="#" class="dropdown-item">Switch account to: Faculty</a>
                </div>
            </div>
        </div>
    </header>