{% load static %}

    {% comment %} Libraries and Frameworks  {% endcomment %}
    <script src=" {% static 'libs/tinymce/tinymce.min.js' %}" defer></script>
    <script src=" {% static 'js/tabler.min.js' %} "></script>
    <script src=" {% static 'js/demo.min.js' %} "></script> 
    <script src=" {% static 'libs/litepicker/dist/litepicker.js' %} "></script>
    <script src=" {% static 'libs/apexcharts/dist/apexcharts.min.js' %} "></script>
    <script src=" {% static 'js/ontop.js' %} "></script>

    {% comment %} System Custom Scripts  {% endcomment %}
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>

    
    {% comment %} Toaster Dependencies 
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    {% endcomment %}