{% load static %}

    <style>
        .nav-link-title {
            font-size: 0.98rem !important;
            font-weight: 5  00;
        }
        .nav-item {
            
            min-width: 5rem !important;
        }
        .mr-ml {
            margin: 0px 10px !important ;
        }
    </style>

    <div class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="navbar">
                <div class="container-xl">
                    <ul class="navbar-nav">
                        <li id="active-dashboard" class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard:dashboard' %}" >
                                <span class="nav-link-title text-center mr-ml">
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li id="active-bins" class="nav-item ">
                            <a class="nav-link" href="{% url 'requirements:requirement-bin' %}" >
                                <span class="nav-link-title text-center mr-ml">
                                    Requirement Bin
                                </span>
                            </a>
                        </li>
                        <li id="active-subm" class="nav-item ">
                            <a class="nav-link" href="{% url 'submissions:submission' %}" >
                                <span class="nav-link-title text-center mr-ml">
                                    Requirement Submission
                                </span>
                            </a>
                        </li>
                        <li id="active-reports" class="nav-item ">
                            <a class="nav-link" href="{% url 'reports:reports' %}" >
                                <span class="nav-link-title text-center mr-ml">
                                    Reports
                                </span>
                            </a>
                        </li>
                        <li id="active-users" class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:users' %}" >
                                <span class="nav-link-title text-center mr-ml">
                                    Users
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown" id="active-utilities">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" >
                                <span class="nav-link-title text-center mr-ml">
                                    Utilities
                                </span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu-columns">
                                    <div class="dropdown-menu-column">
                                        <a class="dropdown-item" href="{% url 'utilities:school-year-main' %}">
                                            Academic Year 
                                        </a>

                                        <a class="dropdown-item" href="{% url 'utilities:semester-main' %}">
                                            Semester
                                        </a>

                                        <a class="dropdown-item" href="{% url 'utilities:categories' %}" id="active-categories">
                                            Requirement Categories
                                        </a>
                                        <a class="dropdown-item" href="{% url 'utilities:roles' %}" id="active-roles">
                                            Permissions
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var active_request = JSON.parse('{{ requestz|safe }}');
        var currentURL = window.location.href;
    
        var urlsToCheck = [
            {"url": "{% url 'accounts:users' %}",                   "ids": ["active-users"]},
            {"url": "{% url 'accounts:profile' %}",                 "ids": ["active-users-profile"]},  // Added profile URL
            {"url": "{% url 'dashboard:dashboard' %}",              "ids": ["active-dashboard"]},
            {"url": "{% url 'reports:reports' %}",                  "ids": ["active-reports"]},
            {"url": "{% url 'utilities:categories' %}",             "ids": ["active-categories"]},
            {"url": "{% url 'requirements:requirement-bin' %}",     "ids": ["active-bins"]},
            {"url": "{% url 'submissions:submission' %}",           "ids": ["active-subm"]},
            {"url": "{% url 'utilities:roles' %}",                  "ids": ["active-roles"]},
            {"url": "{% url 'utilities:semester-main' %}",          "ids": ["active-semester"]},
            {"url": "{% url 'utilities:school-year-main' %}",       "ids": ["active-school-year"]},
        ];
    
        var utilitiesUrls = [
            "{% url 'utilities:categories' %}",
            "{% url 'utilities:roles' %}",
            "{% url 'utilities:school-year-main' %}",
            "{% url 'utilities:semester-main' %}"
        ];
    
        urlsToCheck.forEach(function(item) {
            var isCurrentURL = currentURL.includes(item.url);
            item.ids.forEach(function(elementId) {
                var element = document.getElementById(elementId);
                if (element) {
                    if (isCurrentURL) {
                        element.classList.add(active_request);
                    } else {
                        element.classList.remove(active_request);
                    }
                }
            });
        });
    
        var utilitiesElement = document.getElementById("active-utilities");
        var utilitiesActive = utilitiesUrls.some(function(url) {
            return currentURL.includes(url);
        });
    
        if (utilitiesElement) {
            if (utilitiesActive) {
                utilitiesElement.classList.add('active');
            } 
            else {
                utilitiesElement.classList.remove('active');
            }
        }
    </script>
    
    