{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        th {
            font-size: .7rem !important;
        }
    </style>

    <div class="page-wrapper">

        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            School Year
                        </h2>
                    </div>
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <span class="d-none d-sm-inline">
                                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-restore-type">
                                    Recycle Bin
                                </a>
                            </span>
                            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-new-type">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                Create Type
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} MODALS {% endcomment %}
        {% include "school-year/create-modal.html" %}
        {% include "school-year/edit-modal.html" %}
        {% include "school-year/restore-modal.html" %}
        {% include "school-year/hard-delete-modal.html" %}
        {% include "school-year/soft-delete-modal.html" %}



        <div class="page-body">

                {% comment %} DATA TABLE {% endcomment %}
                {% include "school-year/data-table.html" %}

        </div>

    </div>
{% endblock %}