{% load crispy_forms_tags %}       
       
       {% comment %} Create Modal  {% endcomment %}
        <div class="modal modal-blur fade" id="modal-new-category" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <form 
                    autocomplete="off" 
                    id="create-form"
                    class="modal-content">
                    {% csrf_token %}

                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="9"></circle>
                                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                        <polyline points="11 12 12 12 12 16 13 16"></polyline>
                                    </svg>
                                </div>
                                <div>
                                    <h5 class="modal-title">Add new Requirement Types</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" name"requirement_bin_id" value="{{ requirement_bin_id }}">
                    
                        <p>Please select the requirement types that you wanted to add in the requirement bin.</p>
                        <div class="mt-4 table-responsive">
                        
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            <input class="form-check-input m-0 align-middle" type="checkbox" id="select-all">
                                        </th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Modified by</th>
                                        <th>Last Modified</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for record in requirement_types %}
                                        <tr class="small">
                                            <td>
                                                <input name="selected_records" id="checkbox-{{ record.id }}" class="form-check-input m-0 align-middle" type="checkbox" value="{{record.id}}">
                                            </td>
                                            <td>
                                                {{ record.name }}
                                            </td>
            
                                            <td>
                                                {% if record.description %}
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-description-{{record.id}}" >Show Description</a>
                                                
                                                {% else %}
                                                    <i>No Description</i>
                                                
                                                {% endif %}
                                            </td>
            
                                            <td>    
                                                Name of the User
                                            </td>
                                            
                                            <td>
                                                {{ record.modified_at|date:"F j, Y" }}
                                            </td>

                                        </tr>

            
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                    
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="requirement-button-submit" class="btn btn-primary" >Add Requirements</button>
                    </div>
                </form>
            </div>
        </div>