{% load crispy_forms_tags %}       
       
       {% comment %} Create Modal  {% endcomment %}
        <div class="modal modal-blur fade" id="modal-new-category" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form 
                    autocomplete="off" 
                    id="create-form"
                    class="modal-content">
                    {% csrf_token %}

                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="9"></circle>
                                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                        <polyline points="11 12 12 12 12 16 13 16"></polyline>
                                    </svg>
                                </div>
                                <div>
                                    <h5 class="modal-title">Post New Requirement Bin</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    
                        <div class="mb-3">
                            <label class="form-label">Requirement Category <small class="text-red">(Required)</small></label>
                            {{ create_form.category }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Title <small class="text-red">(Required)</small></label>
                            {{ create_form.name }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Deadline <small class="text-red">(Required)</small></label>
                            {{ create_form.deadline }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description <small>(Optional)</small></label>
                            <textarea id="tinymce-mytextarea" name="description" placeholder="Enter text here..."></textarea>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Post</button>
                    </div>
                </form>
            </div>
        </div>