{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="avatar avatar-lg rounded">DM</span>
                    </div>
                    <div class="col">
                        <h1 class="fw-bold">Administrator</h1>
                        <div class="my-2">
                            Masters in Information Technology Major in Information Security
                        </div>
                        <div class="list-inline list-inline-dots text-muted">
                            <div class="list-inline-item">
                                <svg  xmlns="http://www.w3.org/2000/svg" class="icon icon-inline width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-school"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>
                                Polytechnic University of the Philippines
                            </div>
                            <div class="list-inline-item">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-inline icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
                                <a href="#" class="text-reset">admin@pup.edu.ph</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row g-3">

                    <div class="col">
                        <ul class="timeline">

                            <h3 class="mb-4">Basic Information</h3>

                            <li>
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /><path d="M15 19l2 2l4 -4" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Lastname</b>
                                        <input type="text" class="form-control mt-1" placeholder="Edit your last name" autocomplete="off">
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /><path d="M15 19l2 2l4 -4" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Firstname</b>
                                        <input type="text" class="form-control mt-1" placeholder="Edit your first name" autocomplete="off">
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /><path d="M15 19l2 2l4 -4" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Middlename</b>
                                        <input type="text" class="form-control mt-1" placeholder="Edit your middle name" autocomplete="off">
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /><path d="M15 19l2 2l4 -4" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Extension Name</b>
                                        <input type="text" class="form-control mt-1" placeholder="ex: III, IV, Jr." autocomplete="off">
                                    </div>
                                </div>
                            </li>

                            <h3 class="mt-4 mb-4">Personal Information</h3>

                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Gender</b>
                                        <div class="mt-1">
                                            <label class="form-check form-check-inline mt-2">
                                                <input class="form-check-input" type="radio" name="radios-inline" checked="">
                                                    <span class="form-check-label">Male</span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline">
                                                <span class="form-check-label">Female</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        
                                        <label class="form-label strong">Birthday</label>
                                        <div class="input-icon mb-2">
                                            <input class="form-control " placeholder="Select a date" id="datepicker-icon" value="2024-01-01"/>
                                            <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-cake"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z" /><path d="M3 14.803c.312 .135 .654 .204 1 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1 -.197" /><path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z" /></svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Mobile No.</b>
                                        <input type="text" class="form-control mt-1" placeholder="Edit your phone no." autocomplete="off">
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Residential Address</b>
                                        <input type="text" class="form-control mt-1" placeholder="#123 San Juan St. Brgy. Maligaya, Hello Gradma City" autocomplete="off">
                                    </div>
                                </div>
                            </li>

                            <h3 class="mt-4 mb-4">Educational Attainments</h3>

                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-school"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>College Degree</b>
                                        <input type="text" class="form-control mt-1" placeholder="ex: Bachelors, Masters" autocomplete="off">
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-school"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>University Attended</b>
                                        <input type="text" class="form-control mt-1" placeholder="Enter your last university attended" autocomplete="off">
                                    </div>
                                </div>
                            </li>

                            <h3 class="mt-4 mb-4">Faculty Information</h3>

                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h1.5" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Faculty Type</b>
                                        <input type="text" class="form-control mt-1" placeholder="ex. Associate Professor" autocomplete="off">
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h1.5" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Academic Rank</b>
                                        <input type="text" class="form-control mt-1" placeholder="ex. Instructor IV" autocomplete="off">
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h1.5" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Faculty Role</b>
                                        <input type="text" class="form-control mt-1" placeholder="System role is auto-generated" autocomplete="off" disabled >
                                    </div>
                                </div>
                            </li>
                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h1.5" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Date Hired</b>
                                        <div class="input-icon mb-2">    
                                            <input class="form-control " placeholder="Select a date" id="datepicker-icon-prepend" value="2024-01-01"/>
                                            <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <h3 class="mt-4 mb-4">User's Description</h3>

                            <li class="mt-3">
                                <div class="timeline-event-icon bg-primary-lt"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h3.5" /><path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" /></svg>
                                </div>
                                <div class="card timeline-event-card">
                                    <div class="card-body">
                                        <b>Tell us about yourself</b>
                                        <div class="mt-3 mb-2">
                                            <textarea id="tinymce-mytextarea">Hello my name is <span><b>your name</b></span></textarea>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4">
                        <div class="row row-cards">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">Basic info</div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6l0 13" /><path d="M12 6l0 13" /><path d="M21 6l0 13" /></svg>
                                                Went to: <strong>Polytechnic University of the Philippines</strong>
                                            </div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/briefcase -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /><path d="M12 12l0 .01" /><path d="M3 13a20 20 0 0 0 18 0" /></svg>
                                                Worked at: <strong>Polytechnic University of the Philippines</strong>
                                            </div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                                Lives in: <strong>#123 San Juan St., Hello Gradma City</strong>
                                            </div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M11 15h1" /><path d="M12 15v3" /></svg>
                                                Birth date: <strong>01/01/2024</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                        <h2 class="card-title">About Me</h2>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid beatae eaque eius
                                            esse fugit, hic id illo itaque modi molestias nemo perferendis quae rerum soluta. Blanditiis
                                            laborum minima molestiae molestias nemo nesciunt nisi pariatur quae sapiente ut. Aut consectetur
                                            doloremque, error impedit, ipsum labore laboriosam minima non omnis perspiciatis possimus
                                            praesentium provident quo recusandae suscipit tempore totam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
        let options = {
            selector: '#tinymce-mytextarea',
            height: 300,
            menubar: false,
            statusbar: false,
            plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat',
        }
        if (localStorage.getItem("tablerTheme") === 'dark') {
            options.skin = 'oxide-dark';
            options.content_css = 'dark';
        }
        tinyMCE.init(options);
        })
        // @formatter:on
    </script>
{% endblock %}
