<div class="container-xl">
	<ul class="row nav nav-bordered" style="border-bottom: none !important;">
		<li class="py-1 col-auto nav-item">
			<a class="nav-link active" aria-current="page" href="#tabs-bin-1" data-bs-toggle="tab">Ongoing</a>
		</li>
		<li class="py-1 col-auto nav-item">
			<a class="nav-link" href="#tabs-bin-2" data-bs-toggle="tab">Past due</a>
		</li>
		<div class="py-3 col">
			<div class="d-flex">
				<div class="ms-auto text-muted">
					Search:
					<div class="ms-2 d-inline-block">
						<input type="text" class="form-control form-control-sm" aria-label="Search invoice">
					</div>
				</div>
			</div>
		</div>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active show" id="tabs-bin-1">
			<div class="row mt-2">
				<div class="col-lg-12 col-md-6">
					<div class="row row-cards">
						{% for record, update_form in details%}
							{% if record.status == 'ongoing' %}
								<div class="card">
									<div class="card-body">
										<div class="row"> 
											<div class="row">
				
												<div class="col-auto">
													<span class="avatar " style="color: #800000 !important;">DM</span>
													{% comment %} <img src="./static/tracks/a4fb1d293bd8d3fd38352418c50fcf1369a7a87d.jpg" class="rounded" alt="Górą ty" width="40" height="40"> {% endcomment %}
												</div>
												<div class="col">Demelyn Monzon
													<div class="text-secondary">
														Posted at {{ record.created_at|date:"F d, Y g:i A"  }}

													</div>
												</div>
												<div class="col-auto lh-1">
													<div class="dropdown">
														<a href="#" class="btn-action btn rounded-circle btn-icon" data-bs-toggle="dropdown"><!-- Download SVG icon from http://tabler-icons.io/i/dots -->
															<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-dots-vertical"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
														</a>
														<div class="dropdown-menu dropdown-menu-end">

															<a class="dropdown-item" href="#">
																<!-- Download SVG icon from http://tabler-icons.io/i/settings -->
																<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler dropdown-item-icon icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
																Monitoring page
															  </a>

															<a class="dropdown-item" href="{% url 'requirements:requirement-bin-setup' requirement_bin_id=record.id %}">
																<!-- Download SVG icon from http://tabler-icons.io/i/settings -->
																<svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path></svg>
																Setup page
															</a>
															<div class="dropdown-divider p-0"></div>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-{{ record.id }}">
																
																<svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path><path d="M16 5l3 3"></path></svg>

																Edit
															</a>
															<a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-soft-delete-{{ record.id }}">
																<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon  text-danger dropdown-item-icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
																Remove
															</a>
														</div>
													</div>
												</div>
										
											</div>
						
				
											<div class="row g-2 align-items-center">
												<div class="col">
				
													<div class="row">
														<a href="#" class="h2 text-truncate" style="margin-bottom: 0px;" 
															data-bs-toggle="tooltip" 
															data-bs-placement="bottom" 
															data-bs-original-title="{{record.name}}">
															{{record.name}}
														</a>
				
														<div class="text-secondary">
															{{ record.category}}
														</div>
														<div class="text-secondary">
															{% if record.description %}
																<a href="#" data-bs-toggle="modal" data-bs-target="#modal-description-{{record.id}}" >Show Description</a>
				
															{% else %}
																	<i>No Description</i>
															{% endif %}
														</div>
													</div>
				
													<div class="p-1"></div>
													<div class="row">
				
														<div class="col">
															{% if record.status == 'ongoing' %}
																<span class="badge badge-outline text-blue">ONGOING</span>
															{% else %}
																<span class="badge badge-outline text-danger">PAST DUE</span>
															{% endif %}
															
														</div>
				
				
														<div class="col">
															<div class="text-secondary" style="text-align: right;">
																Deadline: {{ record.deadline|date:"F d, Y g:i A" }}
															</div>
														</div>
				
													</div>
				
												</div>
				
												
											</div>
										</div>
									</div>
							
								</div>
							
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane" id="tabs-bin-2">
			<div class="row mt-2">
				<div class="col-lg-12 col-md-6">
					<div class="row row-cards">
						{% for record, update_form in details%}
							{% if record.status == 'past due' %}
								<div class="card">
									<div class="card-body">
										<div class="row"> 
											<div class="row">
				
												<div class="col-auto">
													<span class="avatar " style="color: #800000 !important;">DM</span>
													{% comment %} <img src="./static/tracks/a4fb1d293bd8d3fd38352418c50fcf1369a7a87d.jpg" class="rounded" alt="Górą ty" width="40" height="40"> {% endcomment %}
												</div>
												<div class="col">Demelyn Monzon
													<div class="text-secondary">
														Posted at {{ record.created_at|date:"F d, Y g:i A"  }}

													</div>
												</div>
												<div class="col-auto lh-1">
													<div class="dropdown">
														<a href="#" class="btn-action btn rounded-circle btn-icon" data-bs-toggle="dropdown"><!-- Download SVG icon from http://tabler-icons.io/i/dots -->
															<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-dots-vertical"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
														</a>
														<div class="dropdown-menu dropdown-menu-end">

															<a class="dropdown-item" href="#">
																<!-- Download SVG icon from http://tabler-icons.io/i/settings -->
																<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler dropdown-item-icon icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
																Monitoring page
															  </a>

															<a class="dropdown-item" href="{% url 'requirements:requirement-bin-setup' requirement_bin_id=record.id %}">
																<!-- Download SVG icon from http://tabler-icons.io/i/settings -->
																<svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path></svg>
																Setup page
															</a>
															<div class="dropdown-divider p-0"></div>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-{{ record.id }}">
																
																<svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path><path d="M16 5l3 3"></path></svg>

																Edit
															</a>
															<a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-soft-delete-{{ record.id }}">
																<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon  text-danger dropdown-item-icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
																Remove
															</a>
														</div>
													</div>
												</div>
										
											</div>
						
				
											<div class="row g-2 align-items-center">
												<div class="col">
				
													<div class="row">
														<a href="#" class="h2 text-truncate" style="margin-bottom: 0px;" 
															data-bs-toggle="tooltip" 
															data-bs-placement="bottom" 
															data-bs-original-title="{{record.name}}">
															{{record.name}}
														</a>
				
														<div class="text-secondary">
															{{ record.category}}
														</div>
														<div class="text-secondary">
															{% if record.description %}
																<a href="#" data-bs-toggle="modal" data-bs-target="#modal-description-{{record.id}}" >Show Description</a>
				
															{% else %}
																	<i>No Description</i>
															{% endif %}
														</div>
													</div>
				
													<div class="p-1"></div>
													<div class="row">
				
														<div class="col">
															{% if record.status == 'ongoing' %}
																<span class="badge badge-outline text-blue">ONGOING</span>
															{% else %}
																<span class="badge badge-outline text-danger">PAST DUE</span>
															{% endif %}
															
														</div>
				
				
														<div class="col">
															<div class="text-secondary" style="text-align: right;">
																Deadline: {{ record.deadline|date:"F d, Y g:i A" }}
															</div>
														</div>
				
													</div>
				
												</div>
				
												
											</div>
										</div>
									</div>
							
								</div>
							
							{% endif %}
						{% endfor %}
					</div>
							
				
			
			
				</div>
					
			</div>
		</div>
	</div>





</div>