<script>
    $(document).ready(function(){

        $("#create-form").submit(function(event) {
            var serializedData = $("#create-form").serialize();
            event.preventDefault();

            $.ajax({
                url: "{% url 'utilities:requirement-type-create' %}", 
                data: serializedData,
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {

                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the IntegrityError message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 



{% comment %} AJAX FOR UPDATING  {% endcomment %}
<script>
    $(document).ready(function(){
        $(".edit-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#edit-form-"+id).serialize();
            var url = "/utilities/requirement-type/edit/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {

                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the IntegrityError message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 


<script>
    const selectAllCheckbox = document.getElementById("select-all");
    const recordCheckboxes = document.querySelectorAll('input[name="selected_records"]');
  
    selectAllCheckbox.addEventListener('change', function() {
      recordCheckboxes.forEach(checkbox => {
        checkbox.checked = selectAllCheckbox.checked;
      });
    });
  </script>


  <script>
    $(document).ready(function(){

        $("#restore-form").submit(function(event) {
            var serializedData = $("#restore-form").serialize();
            event.preventDefault();

            $.ajax({
                url: "{% url 'utilities:requirement-type-restore' %}", 
                data: serializedData,
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {

                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the IntegrityError message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 


<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
    let options = {
        selector: '#tinymce-mytextarea',
        height: 300,
        menubar: false,
        statusbar: false,
        plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat',
    }
    if (localStorage.getItem("tablerTheme") === 'dark') {
        options.skin = 'oxide-dark';
        options.content_css = 'dark';
    }
    tinyMCE.init(options);
    })
    // @formatter:on
</script>   